<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.facebook.hermes.intltest">

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <!-- MAIN represents that it is the Main Activity-->
                <action android:name="android.intent.action.MAIN" />
                <!-- Launcher Denotes that it will be the first launching activity-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>