name: build-android

on:
  workflow_call:
    inputs:
      release-type:
        required: true
        description: The type of release we are building. It could be release or dry-run
        type: string

jobs:
  build-android:
    runs-on: 8-core-ubuntu
    env:
      HERMES_WS_DIR: /home/runner/work/hermes/hermes
    container:
      image: reactnativecommunity/react-native-android:latest
      env:
        TERM: "dumb"
        GRADLE_OPTS: "-Dorg.gradle.daemon=false"
        ORG_GRADLE_PROJECT_SIGNING_PWD: ${{ secrets.ORG_GRADLE_PROJECT_SIGNING_PWD }}
        ORG_GRADLE_PROJECT_SIGNING_KEY: ${{ secrets.ORG_GRADLE_PROJECT_SIGNING_KEY }}
        ORG_GRADLE_PROJECT_SONATYPE_USERNAME: ${{ secrets.ORG_GRADLE_PROJECT_SONATYPE_USERNAME }}
        ORG_GRADLE_PROJECT_SONATYPE_PASSWORD: ${{ secrets.ORG_GRADLE_PROJECT_SONATYPE_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup git safe folders
        shell: bash
        run: git config --global --add safe.directory '*'
      - name: Setup node.js
        uses: ./.github/actions/setup-node
      - name: Install node dependencies
        uses: ./.github/actions/yarn-install
      - name: Set artifacts version
        shell: bash
        run: node ./utils/scripts/hermes/set-artifacts-version.js --build-type ${{ inputs.release-type }}
      - name: Build android
        shell: bash
        run: |
          cd android
          ./gradlew publishAndroidOnlyToMavenTempLocal :build -PenableWarningsAsErrors=true
      - name: Upload Maven Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: maven-local
          path: /tmp/maven-local
