name: build-android

on:
  workflow_call:
    inputs:
      release-type:
        required: true
        description: The type of release we are building. It could be commitly, release or dry-run
        type: string
      hermes-version:
        required: true
        description: The Hermes version to use for this build
        type: string

jobs:
  build-android:
    runs-on: 8-core-ubuntu
    env:
      HERMES_WS_DIR: /home/runner/work/hermes/hermes
    container:
      image: reactnativecommunity/react-native-android:latest
      env:
        TERM: "dumb"
        GRADLE_OPTS: "-Dorg.gradle.daemon=false"
        ORG_GRADLE_PROJECT_SIGNING_PWD: ${{ secrets.ORG_GRADLE_PROJECT_SIGNING_PWD }}
        ORG_GRADLE_PROJECT_SIGNING_KEY: ${{ secrets.ORG_GRADLE_PROJECT_SIGNING_KEY }}
        ORG_GRADLE_PROJECT_SONATYPE_USERNAME: ${{ secrets.ORG_GRADLE_PROJECT_SONATYPE_USERNAME }}
        ORG_GRADLE_PROJECT_SONATYPE_PASSWORD: ${{ secrets.ORG_GRADLE_PROJECT_SONATYPE_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup git safe folders
        shell: bash
        run: git config --global --add safe.directory '*'
      - name: Setup node.js
        uses: ./.github/actions/setup-node
      - name: Install node dependencies
        uses: ./.github/actions/yarn-install
      - name: Set React Native Version
        shell: bash
        run: node ./utils/scripts/hermes/set-artifacts-version.js --build-type ${{ inputs.release-type }} --hermesVersion "${{ inputs.hermes-version }}"
      - name: Build android
        shell: bash
        run: |
          cd android

          if [[ "${{ inputs.release-type }}" == "commitly" ]]; then
            export ORG_GRADLE_PROJECT_isSnapshot="true"
            TASKS="publishAndroidOnlyToMavenTempLocal publishAndroidOnlyToSonatype"
          else
            TASKS="publishAndroidOnlyToMavenTempLocal"
          fi

          ./gradlew $TASKS -PenableWarningsAsErrors=true
      - name: Upload Maven Artifacts
        uses: actions/upload-artifact@v4.3.4
        with:
          name: maven-local
          path: /tmp/maven-local
