name: RN Build Static Hermes

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Release type (release, dry-run)'
        required: false
        default: 'dry-run'
  pull_request:
  push:
    branches:
      - 250829098.0.0-stable

jobs:
  set_release_type:
    runs-on: ubuntu-latest
    if: github.repository == 'facebook/hermes'
    outputs:
      RELEASE_TYPE: ${{ steps.set_release_type.outputs.RELEASE_TYPE }}
    env:
      EVENT_NAME: ${{ github.event_name }}
      REF: ${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup node.js
        uses: ./.github/actions/setup-node
      - name: Install node dependencies
        uses: ./.github/actions/yarn-install
      - id: set_release_type
        run: |
          if [[ $EVENT_NAME == "workflow_dispatch" ]]; then
            echo "Setting release type to ${{ github.event.inputs.release-type }}"
            echo "RELEASE_TYPE=${{ github.event.inputs.release-type }}" >> $GITHUB_OUTPUT
          else
            echo "Setting release type to dry-run"
            echo "RELEASE_TYPE=dry-run" >> $GITHUB_OUTPUT
          fi
      - id: generate_version
        run: |
          VERSION=$(node ./utils/scripts/hermes/get-hermes-version.js --build-type ${{ steps.set_release_type.outputs.RELEASE_TYPE }})
          echo "Generated version: $VERSION"
          echo "HERMES_VERSION=$VERSION" >> $GITHUB_OUTPUT
  build_hermesc_apple:
    uses: ./.github/workflows/build-hermesc-apple.yml
  build_apple_slices_hermes:
    uses: ./.github/workflows/build-apple-slices-hermes.yml
    needs: build_hermesc_apple
  build_hermes_macos:
    uses: ./.github/workflows/build-hermes-macos.yml
    needs: build_apple_slices_hermes
  build_hermesc_linux:
    uses: ./.github/workflows/build-hermesc-linux.yml
  build_hermesc_windows:
    uses: ./.github/workflows/build-hermesc-windows.yml
  build_android:
    uses: ./.github/workflows/build-android.yml
    needs: set_release_type
    secrets: inherit
    with:
      release-type: ${{ needs.set_release_type.outputs.RELEASE_TYPE }}
  publish:
    uses: ./.github/workflows/publish.yml
    secrets: inherit
    needs:
      [
        set_release_type,
        build_hermes_macos,
        build_hermesc_linux,
      ]
    with:
      release-type: ${{ needs.set_release_type.outputs.RELEASE_TYPE }}
  create-tag:
    uses: ./.github/workflows/create-tag.yml
    needs: publish
    with:
      release-type: ${{ needs.set_release_type.outputs.RELEASE_TYPE }}
      hermes-version: ${{ needs.set_release_type.outputs.HERMES_VERSION }}
